<div class="container">
  <!--尚缺篩選功能-->
  <form action="/search">  
    <div class="input-group row align-items-center justify-content-center mt-5">
      <div class="col-3">
        <input type="text" name="keywords" class="form-control" placeholder="搜尋" aria-label="Restaurant Name..."
          value="{{keywords}}" aria-describedby="search-button">
      </div>
      <div class="col-1">
        <div class="input-group-append">
          <button class="btn btn-major " type="submit" id="search-button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>  
  </form>


  <div class="row totalAmount mt-5">
      <h3 class="col-4 fw-bold">總金額：</h4>
      <h2 class="col-6 fw-bold">12345</h2>
  </div>
  <div class="d-flex justify-content-end">
    <a class="btn btn-outline-primary" href="./expenses/new" role="button">新增支出</a>
  </div>
      
  <div class="row">
    <div class="col-3 mt-5">
      <h5 class="fw-bold">日期</h5>
    </div>
    <div class="col-2 mt-5">
      <h5 class="fw-bold">項目</h5>
    </div>
    <div class="col-3 mt-5 text-center">
      <h5 class="fw-bold">金額</h5>
    </div>
    <hr>
    {{#each expenses}}
    <div class="col-3">
      <p class="fs-5">{{this.date}}</p>
    </div>
    <div class="col-2">
      <p class="fs-5">{{this.name}}</p>
    </div>
    <div class="col-3 text-center">
      <p class="fs-5" id ="amount">{{this.amount}}</p>
    </div>
    <div class="col-2">
      <a class="btn btn-outline-secondary btn-sm me-3" href="./expenses/{{this._id}}/edit" role="button">修改</a>
      <form action="./expenses/{{this._id}}/delete" method="POST" style="display: inline;">
        <button class="btn btn-outline-primary btn-sm" type="submit">刪除</button>
      </form>
    </div>
    
    {{/each}}
    <hr class="mt-3">

  </div>